body {
    background-color: #363636;
}

h2 {
    font-size: 5;
    color: #ffde59;
    font-family: candara, sans-serif;
}

h3 {
    font-size: 5;
    color: white;
    font-family: Candara, sans-serif;
}

h4{
    font-size:4;
    color:#ffde59;
    font-family:candara,sans-serif;
}